#Jennie {
 width: 300px;
}
 
 #index {
     background-image: url(https://static.billboard.com/files/media/izx4xs-Blackpink-8znak-bb05-nz7w-2019-feat-billboard-cdakjehr-jxs8xjkx-1548-compressed.jpg);
     background-size: cover;
     height: 100vh;
}

#Jisoo {
 width: 300px;
}

#Lisa {
 width: 300px;
}


#Rosé {
 width: 300px;
}

body {
        background-color: 	#ff94e0
}





